@charset "UTF-8";


.customer_content{
	border: 1px solid #e5e6e7;
	background: white;
	margin-top: 10px;
	padding: 40px 40px 40px 40px;
	overflow: hidden;
	width: 92%;
	
}

.customer_inner{
	width: 100%;
}

.customer_inquiry_write{
	border-bottom: 2px solid #ededed;
}    

.customer_inquiry_tab{
	border: 2px solid #d4d5d7;
}

.customer_inquiry_title_inner{
	background: #f5f7f6;
	padding: 6px 0;
	overflow:hidden;
}

.customer_inquiry_title_inner p{
	float: left;
    margin-left: 25px;
    line-height: 28px;
    font-weight: 600;
    font-size: 14px;
    color: #46474b;
}

.customer_inquirys{
	margin-bottom: 38px;
	border: 0px solid red;
	overflow: hidden;
	border-bottom: 1px solid #b7b7b7;
}

.customer_inquiry_write_content{
	border-top: 1px solid #b7b7b7;
	height: 44px;
    line-height: 44px;
}

.customer_inquiry_title,
.customer_inquiry_file{
	border-top: 1px solid #d4d5d6;
	height: 44px;
    line-height: 44px;
}

.customer_inquiry_content{
	border-top: 1px solid #d4d5d6;
	height: 300px;
    line-height: 300px;
}

.customer_inquiry_kind div:first-child,
.customer_inquiry_title div:first-child,
.customer_inquiry_file div:first-child,
.customer_inquiry_content div:first-child{
	float: left;
    width: 150px;
    font-weight: 600;
}

.customer_inquiry_title div:last-child,
.customer_inquiry_file div:last-child,
.customer_inquiry_content div:nth-child(2) {
    float: left;
    width: 740px;
    padding-left: 25px;
    border-left: 1px solid #d4d5d6;
}
 .customer_inquiry_file div:last-child{
 	height: 44px;
 	line-height: 44px;
 }

.customer_inquiry_select_check{
	display: block;
	border-left: 1px #d4d5d6 solid;
	overflow: hidden;
}

.customer_inquiry_select_check li{
	float: left;
	padding-left:25px; 
	font-weight: 600;
	color: #999;
}

.customer_inquiry_title input{
    width: 550px;
    border: 1px solid #d4d5d6;
    padding: 0 5px;
    line-height: 24px;
    margin: 9px 0;
}

 .customer_inquiry_file div:nth-child(2)>input {
    width: 350px;
    height: 30px;
    padding: 2px 5px;
    border: 1px solid #d4d5d6;
    color: #999;
    box-sizing: border-box;
    line-height: 30px;
    margin: 7px auto;
} 

.customer_inquiry_content textarea {
    margin: 10px 0;
    resize: none;
    width: 90%;
    height: 280px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    overflow-y: auto;
    border: 1px solid #d4d5d6;
    color: #999;
    
}

.customer_inquiry_btn input{
	width: 68px;
    height: 32px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 10px 10px;
    border: 1px solid #b6b7b7;
    background: #f5f7f6;
    cursor: pointer;
}
