@charset "UTF-8";


img {
	border: 0;
	vertical-align: middle;
}

ol, ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}


body{
	font-size: 13px;
	font-family: 나눔고딕, Nanum Gothic, sans-serif;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}
