@charset "UTF-8";

input[type="button"] {
	cursor: pointer;
}

a:link, a:visited {
	text-decoration: none;
	color:#666;
}

img, input, button, select, textarea {
	vertical-align: middle;
	
}

/*top_menu감싸는 상자*/

#header{
	margin:0px auto;
	border-bottom: 1px solid #e5e6e7;
}

.header_top {
	width:100%;
	margin:0px auto;
	height: 32px;
	border-bottom: 1px solid #e5e6e7;
}

.header_top_inner {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}


.header_lnb_right {
	float: right;
	list-style: none;
}

.header_lnb_right li {
	float: left;
	padding: 0 7px;
	background: url(../../img/template/header/lnb_line.jpg) no-repeat left center;
}

.header_lnb_right input {
	font-size: 11px;
	line-height: 32px;
	background: no-repeat left center;
}

.header_lnb_right li a {
	font-size: 11px;
    line-height: 32px;
    margin: 10px auto;
}

.header_lnb_right li:first-child {
	
	font-weight: bold;
}

.header_mid_content{
	border: 0px red solid;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    margin-top: 23px;
    margin-bottom: 10px;
}

.header_mid_logo{
	float: left;
	margin-top: 10px;
	border: 0px solid green;
}


.header_mid_logo img{
	width: 170px;
	height: 70px;
	margin-top: -9px;
	
}

.header_mid_search{
	float: left;
	border: 0px solid green;
	width: 826px;
	height: 70px;
	line-height: 70px;
	margin-top: 10px;
	
}

.header_mid_search_inner{
	float: left;
	margin: 5px 0 0 30px;
    border: 2px solid #FFA7A7;
    width: 440px;
    height: 55px;
    line-height:55px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 40px;
}

.search_mh{
    float: left;
    height: 47px;
    width: 375px;
    line-height: 47px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top:2px;
}

.search_mh_btn{
	float: left;
    height: 47px;
    line-height: 47px;
    background: url(../../img/template/header/search-btn.png) no-repeat center center;
    width: 30px;
    border: none;
    cursor: pointer;
    margin-top:2px;	
}

/* 메인베너시작 */
.header_mainGnb_wrap {
	height: 40px;
    background: #fff;
    margin-top: 30px;
    border-top: 1px solid #e5e6e7;
}

.header_mainGnb_inner {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

.header_mainGnb_inner>ul:first-child {
	float: left;
}

.header_gnb_list::after {
	content: "";
	display: block;
	clear: both;
}

.header_gnb_list {
	float: left;
}

.header_gnb_list li{
	float: left;
    border: 0px solid red;
    width: 198.8px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    margin-left: 2px;
    text-align: center;
}

.header_gnb_list li:first-child{
	 margin-left:-2px;
	 
}

.header_gnb_list li:last-child{
	width:198.8px;
}

.header_gnb_list li a{
	color:white;
	font-weight: 600;
}

.header_title_menu_category{
	width:140px;
}

.header_title_menu_category>img{
	width:15px;
	height:15px;
	margin:0px 2px 0px 2px;
}

/* Menu Container */
.header_gnb_list {
    width: 1000px;
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
   
}

/* 전체보기 List */
.header_gnb_list > li {
	display: block;
	float: left;
}

/* 전체보기 Links */
.header_gnb_list > li > a {
	position: relative;
    display: block;
    z-index: 510;
    height: 40px;
    line-height: 38px;
    font-weight: 600;
    font-size: 17px;
    color: #738082;
    background: #fff;
    border-right: 1px solid #e5e6e7;
    border-bottom: 1px solid #e5e6e7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.header_gnb_list > li:first-child > a {
    border-radius: 3px 0 0 3px;
    border-left: 1px solid #e5e6e7;
    border-bottom: 0;
}

.header_gnb_list > li a:hover{
	color: #F15F5F;
}


/* 전체보기 Dropdown */
.header_gnb_list > li > div {
    position: absolute;
    display: block;
    width: 100%;
    height: 347px;
    border: 1px solid #e5e6e7;
    /* border-top: 0; */
    top: 41px;
    left: -3px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background: #ffffff;
    border-radius: 0 0 3px 3px;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
    border-top: 0px;
    margin-top: -1px;
}

.header_gnb_list > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.header_gnb_list .header_nav_column {
	float: left;
    width: 20%;
    padding: 3.5%;
    margin-left: 41px;
}

#header_nav_column_h3 {
    margin: 20px 0 10px 0;
    line-height: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffa7a7;
    text-align: center;
    /* text-transform: uppercase; */
}


.header_gnb_list .header_nav_column li a {
	display: block;
    line-height: 61px;
    font-weight: bold;
    font-size: 13px;
    color: #000;
    text-align: center;
}

.header_gnb_list .header_nav_column li a:hover{ color: #F15F5F; }

.header_gnb_list img{
    width: 15px;
    height: 15px;
    margin: 0px 10px -1px 4px;
}

.header_mainGnb_inner{
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

/* 플로팅 메뉴 */

#floatMenu{
    position: absolute;
    width: 120px;
    left: 50%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    text-align: center;
    top: 250px;
    margin-left: 542px;/*아이콘 위치 조절 */
    border: 1px solid #e5e6e7;
}

.tv_container{
   padding-top: 1px;
  
}

.today_view .tv_prod{
   	width: 90px;
    
    border: 1px solid #e5e6e7;
    margin-bottom: 10px;
    text-align: center;
   
}

.today_title > h3{
   margin: 7px 0;
}

#floatMenu > div{
   border : 0px solid #666;
}

.float_btn > a{
   text-decoration: none;
    display: inline-block;
    line-height: 24px;
    width: 110px;
    height: 25px;
    margin: 3px;
    background: #FFD8D8;
    color: #000;
}

.floatMenu img{
	width: 93px;
	height: 133px;
	
}

.tv_prod img{
	height: 89px;
	width: 90px;
	
}