@charset "UTF-8";


.service_content{
	border: 1px solid #e5e6e7;
    background: white;
    margin-top: 10px;
    padding: 40px 40px;
    overflow: hidden;
    width: 92%;
}

.service_inner{
	padding-bottom: 40px;
    width: 100%;
    overflow: hidden;
}

.service_content_title{
	border: 2px solid #d4d5d7;
	border-right-width:0px;
	border-left-width:0px;
	height: 30px;
	line-height: 30px;
}

.service_content_title div{
	float: left;
	border: 0px solid orange;
	background: linear-gradient(to bottom, #f5f7f6 0%,#f0f0f0 100%);
	
}
.service_content_title div:first-child,
.service_question div:first-child{
	width: 792px;
	
}

.service_content_title div:last-child{
	width: 128px;
}

.service_notices{
	border-bottom: 1px solid #d4d5d6;
    line-height: 44px;
    height:44px;
    cursor: pointer;
    font-weight: 600;
    color: #46474b;
	float: left;
}

.service_notices div{
	float: left;
}

.service_notices>div:first-child{
	width: 765px;
	padding-left: 25px;
}

.service_notices>div:last-child {
	width: 128px;
	cursor: default;
	color: #999;
}

.service_notice_list_pagenate{
	height: 45px;
    overflow: hidden;
    width: auto;
   
    text-align: center;
}

.service_notice_list_btn{
	display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    line-height: 43px;
    margin-left: -1px;
    border: 1px solid #d7d7d8;
    background: #F6F6F6;
    font-weight: bold;
    text-align: center;
}

.service_notice_list_pagenate a:hover{
	color: rgb(241, 95, 95);
}

