@charset "UTF-8";

.service_content{
	width: 100%;
	margin-bottom: 38px;
	color: #666;
}

.service_title{
	margin-top:10px;
	border-top: 1px solid #d4d5d6;
	display: table;
	position:relative;
}

.service_kind{
	display: table;
	position:relative;
	border-top: 1px solid #d4d5d6;
}

.service_content02 div{
	padding:10px 25px;
	line-height: 20px;
}

.service_contact_content{
	display: table;
	border-top: 1px solid #d4d5d6;
	position:relative;
	border-bottom: 1px solid #d4d5d6;
}

.service_content01 {
	width: 150px;
	display: table-cell;
	vertical-align: middle;
	text-indent: 23px;
	border-right: 1px solid #d4d5d6;
    background: #f2f4f4;
    font-weight: 600;
    
}
.service_title div:first-child>span,
.service_kind div:first-child>span,
.service_contact_content div:first-child>span,
.service_contact_answer div:first-child>span{
	display:block;
	margin:0 auto;
}

.service_title div:nth-child(2),
.service_kind div:nth-child(2),
.service_contact_content div:nth-child(2),
.service_contact_answer div:nth-child(2){
	background: white;
	width:849px;
	
}

.service_contact_answer{
	border-bottom: 1px solid #d4d5d6;
	display: table;
	position:relative;
}

.service_contact_button input,
.service_contact_button1 input{
	border: 1px solid #b6b7b7;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    text-align: center;
    background: #f5f7f6;
    box-shadow: 0 2px #f5f7f6;
    border-radius: 15px;
    line-height: 49px;
    cursor: pointer;
    color: #333;
}

.service_contact_button{
	overflow: hidden;
	padding: 0 290px;
}

.service_contact_button1{
	overflow: hidden;
	padding: 0 355px;
}

