<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookjuk.member.dao.mapper.MemberMapper">

	<select id="checkId" parameterType="String" resultType="int">
		SELECT nvl(count(*),0) FROM member WHERE member_id = #{id}
	</select>

	<insert id="memberInsert" parameterType="com.bookjuk.member.dto.MemberDto">
		INSERT INTO member (member_num, member_id, member_password, member_name, member_email, member_mailing, member_birth, member_level) VALUES (member_num_seq.nextval, #{member_id}, #{member_password}, #{member_name}, #{member_email}, #{member_mailing}, #{member_birth}, #{member_level})
	</insert>

	<select id="memberLogin" parameterType="java.util.Map" resultType="com.bookjuk.member.dto.MemberDto">
  		<![CDATA[select * from member where member_id=#{member_id} and member_password=#{member_password}]]>
  	</select>
  	
  	<select id="memberFindId" parameterType="java.util.Map" resultType="String">
  		SELECT member_id FROM member WHERE member_name = #{member_name} and member_email = #{member_email}
  	</select> 
</mapper>