@charset "UTF-8";

.rule1_title {
	width: 750px;
	text-align: center;
	background: #D9E5FF;
	color: #666;
	font-size: 22px;
	height: 50px;
	line-height: 50px;
	position: relative;
	font-weight: bold;
}

.rule1_close {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	cursor: pointer;
	font-size: 28px;
	font-weight: bold;
}

.rule1_window, .rule1_content {
	font-weight: 300;
	font-size: 12px;
}

.rule1_window, .rule1_content iframe {
	width: 740px;
	padding-left: 10px;
	height: 745px;
}

.rule1_window {
	padding: 0;
}

#rule_table h2 {
	font-size: 16px;
	font-weight: 600;
}

#rule_table dl {
	margin: 30px 0 0 0;
	font-size: 12px;
}

#rule_table dt {
	margin: 0;
	font-size: 13px;
	font-weight: 600;
}

#rule_table dd {
	margin: 0;
	font-size: 12px;
}

#rule_table ul {
	margin: 0;
	font-size: 12px;
	padding: 0px;
}

#rule_table li {
	margin: 20px 0 0 0;
	font-size: 12px;
	list-style: none;
}

#rule_table li li {
	margin: 0;
	padding: 0 0 0 17px;
	font-size: 12px;
	text-indent: -17px;
}

.txtColor {
	color: #6799ff;
	font-weight: 600;
}