@CHARSET "UTF-8";

#myPage_all {
	background: #fff;
	padding-bottom: 80px;

}

.myPages {
	margin: 0 auto;
	width: 100%;
	border: 0px solid red;
}

.myPage {
	width: 1000px;
	margin: 0 auto;
}

.myPage_warp {
	padding: 25px 0 25px 23px;
	font-size: 2.5em;
	font-weight: bold;
	color: #FFA7A7;
}

.myPage_title {
	border: 1px solid #e5e6e7;
	padding: 10px 0;
	margin-bottom: 10px;
	height: 170px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 6px;
	box-shadow: 0 3px #f0f0f0;
}

.myPage_first {
	margin: 23px auto;
}

.myPage_title>ul>li {
	position: relative;
	float: left;
	width: 25%;
	height: 148px;
	padding-top: 13px;
	border-left: 1px solid #e5e6e7;
	box-sizing: border-box;
	text-align: center;
}

.myPage_title>ul>li:first-child {
	padding-top: 0;
	border-left: none;
}

.myPage_top {
	border: 0px solid red;
	margin-top: 10px;
}

.myPage_top>span {
	font-weight: 600;
	font-size: 20px;
	color: #666;
	margin-left: 10px;
	margin-top: 20px;
}

.myPage_mid {
	color: #F15F5F;
	font-size: 18px;
	font-weight: 600;
	margin: 15px 0;
}

.myPage_title>ul>li:nth-child(2), 
.myPage_title>ul>li:nth-child(3) {
	width: 37%;
}

.myPage_bot {
	padding: 11px 0;
	background: #f4f4f4;
	border-radius: 4px;
	width: 154px;
	margin: 0 auto;
}

.myPage_bot a:hover,
.myPage_bottom > div:nth-child(1) > ul > li a:hover {
	color: #F15F5F;
}

.myPage_bottom{
	height: 182px;
    width: 100%;
    box-sizing: border-box;
}

.myPage_bottom > div:nth-child(1) {
    height: 182px;
    padding: 27px 0 20px 0;
    border-radius: 6px;
    box-shadow: 0 3px #f0f0f0;
    background: #fff;
    border: 1px solid #e5e6e7;
    box-sizing: border-box;
}

.myPage_bottom > div:nth-child(1) > ul > li {
    float: left;
    width: 50%;
    height: 132px;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
}

.myPage_bottom > div:nth-child(1) > ul > li h4{
    margin-left: 10px;
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
}

.myPage_bottom > div:nth-child(1) > ul > li a {
    display: block;
    color: #666;
    line-height: 28px;
    font-weight: 600;
    transition: .5s;
    padding-left: 10px;
}

.myPage_bottom > div:nth-child(1) > ul > li:nth-child(2) {
    border-left: 1px solid #e5e6e7;
}

.myPage_warp2 {
	padding: 25px 0 25px 23px;
	font-size: 2em;
	font-weight: bold;
	color: #FFA7A7;
	
}

/* 나의문의내역 */
.myPage_customer_inquiry_list_content{
	border: 2px solid #d4d5d7;
	border-right-width:0px;
	border-left-width:0px;
	height: 30px;
	line-height: 30px;
	
}

.myPage_title1 {
	border: 1px solid #e5e6e7;
	padding: 40px 40px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 6px;
	box-shadow: 0 3px #f0f0f0;
}

.myPage_customer_inquiry_list_content div{
	float:left;
	background: linear-gradient(to bottom, #f5f7f6 0%,#f0f0f0 100%);
}
 
.myPage_customer_inquiry_list_content div:nth-child(1),
.myPage_customer_inquiry_list_content_list div:nth-child(1){
	width:100px;
}

.myPage_customer_inquiry_list_content div:nth-child(2),
.myPage_customer_inquiry_list_content_list div:nth-child(2){
	width:576px;
}

.myPage_customer_inquiry_list_content div:nth-child(3),
.myPage_customer_inquiry_list_content div:nth-child(4),
.myPage_customer_inquiry_list_content_list div:nth-child(3),
.myPage_customer_inquiry_list_content_list div:nth-child(4){
	width:121px;
}

.myPage_customer_inquiry_list_content_list div:nth-child(4){
	color: rgb(241, 95, 95);
}

.myPage_customer_inquiry_list_content_list{
	border-bottom: 1px solid #d4d5d6;
    line-height: 44px;
    cursor: pointer;
    font-weight: 600;
    color: #46474b;
    overflow: hidden;
}

.myPage_customer_inquiry_list_content_list div{
	float:left;
	
}

.myPage_customer_inquiry_list_pagenate{
	height: 45px;
    overflow: hidden;
    width: auto;
    margin-top: 42px;
    text-align: center;
}

.myPage_customer_inquiry_list_btn{
	display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    line-height: 43px;
    margin-left: -1px;
    border: 1px solid #d7d7d8;
    background: #F6F6F6;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
 

