@charset "UTF-8";

a:link, a:visited{
	text-decoration: none;
}

.main_inner{
	margin: 0px auto;
	width: 1000px;
	padding: 0px;
}

.best_wrap{
	margin: 20px 0;
}

.content_box{
	padding: 43px 47px 40px 47px;
	margin-top: 5px;
	margin-bottom: 28px;
	width: 804px;
	border: 1px solid #d5d5d5;
	border-bottom: 1px solid #e5e6e7;
}

.content_wrap{
	position: relative;
}

.content_wrap_title{
	width: 886px;
	height: 24px;
	display: block;
}

.c_author{
	font-size: 11px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content_wrap h3 span{
	display: inline-block;
	margin-right: 7px;
	color: #f26532;
}

.content_wrap h3{
	font-weight: 600;
	font-size: 19px;
	margin-left: 14px;
	padding-bottom: 3px;
}

.best_category{
	margin-top: 15px;
	padding-left: 14px;
	padding-bottom: 12px;
}

.best_category h1{
	float: left;
	padding-bottom: 3px;
	margin: 0;
	font-weight:bold;
	color: #FFA7A7;
}

.best_category:after{
	content: "";
	display: block;
	clear: both;
}

.best_wrap h3{
	float: left;
	margin-left: 14px;
	padding-bottom: 3px;
}

.best_cate{
	float: left;
	padding-left: 30px;
	padding-top: 10px;
}

.best_cate li:first-child{
	background: none;
	padding-left: 0px;
}

.best_cate li{
	float: left;
	padding: 0 11px;
	line-height: 22px;
	cursor: pointer;
	background: url(/projectbjbj/img/main/best_line.jpg) no-repeat left center;
}

.best_cate:after{
	content: "";
	display: block;
	clear: both;
}

.best_box{
	padding:0;
	margin:0;
	width:1000px;
	height:260px;
}

.best_view{
	border-top: 1px solid #e5e6e7;
	position: relative;
	width: 100%;
	height: 100%;
}

.best_view:after{
	content: "";
	display: block;
	clear: both;
}

.best_list{
	padding-top: 22px;
	padding-left: 5px;
}

.best_list:after{
	content: "";
	display: block;
	clear: both;
}

.best_list li:first-child{
	padding-left: 0px;
}

.best_list li{
	float: left;
	margin-left: 0;
	padding-left: 20px;
	margin-bottom: 15px;
	width: 180px;
	height: 200px;
}

.best_list li:after{
	content: "";
	display: block;
	clear: both;
}

.rank{
	float: left;
	margin-top: 5px;
	color: #FFA7A7;
	font-weight: bold;
	font-size: 2em;
}

.thumBox{
	float: left;
	margin-left: 15px;
	width: 149px;
}

.thumBox img{
	width: 150px;
    height: 200px;
    border: 1px solid #e5e6e7;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.4);
}

.best_title{
	margin: 15px 20px 20px 20px;
	font-weight: bold;
	text-align: center;
	width: 120px;
}

#floatMenu{
    position: absolute;
    width: 120px;
    height: 400px;
    left: 50%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    text-align: center;
    top: 250px;
    margin-left: 542px;/*아이콘 위치 조절 */
    border: 1px solid #e5e6e7;
}

.tv_container{
	padding-top: 1px;
	height: 305px;
}

.today_view .tv_prod{
	width: 90px;
    height: 90px;
    border: 1px solid #e5e6e7;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

.today_title > h3{
	margin: 7px 0;
}

#floatMenu > div{
	board : 1px solid #666;
}

.float_btn > a{
	text-decoration: none;
    display: inline-block;
    line-height: 24px;
    width: 110px;
    height: 25px;
    margin: 3px;
    background: #FFD8D8;
    color: #000;
}
