@charset "UTF-8";

.location{

	margin-top: -10px;
}

.location_top{
	width: 100%;
 	margin: 0 auto;
	padding-bottom: 80px;
}

.location_inner{
	width: 1000px;
	margin: 0 auto;
	font-size: 13px;
}



.location_titleinner{
	font-size: 2.5em;
    color: #ffa7a7;
    font-weight: bold;
    padding: 25px 0 27px 23px;
}

/* .Shop_subtitle_ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #e5e6e7;
    width: 100%;
} */

/* .Shop_subtitle_ul li{
    float: left;
    text-align: center;
    cursor: pointer;
    width: 198px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #fff;
    border-left: none;
    background: #ffa7a7;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    border-left: 1px solid #fbf9ee;
} */

/* .Shop_subtitle_ul li a{
	color: #fff;	
}

.Shop_subtitle_ul, .Shop_subtitle_li{
	background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
} */

.location_Maps_box{
    border: 0px solid red;
    width: 1000px;
    height: 622px;
    margin-top: 69px;
    clear: both;
}

.location_Maps{
	border: 1px solid #ddd;
	width: 450px;
	height: 350px;
	margin-left: -16px;
	margin-top: -32px;
}

.location_Maps_text {
    border: 1px solid #ddd;
    width: 462px;
    height: 350px;
    /* float: right; */
    margin-top: -352px;
    overflow: hidden;
    margin-left: 524px;
}

.location_Maps_text p{
	text-align: justify;
    font-size: 15px;
    margin-left: 20px;
}

.location_Maps_directions{
    border: 1px solid #d5d5d5;
    height: 222px;
    margin-top: 41px;
    margin-left: -16px;
    width: 1003px;
}

.location_Maps_directions p:nth-child(1){
	text-align: center;
	margin-top: 10px;	
}

.location_Maps_directions_p{
	text-align: justify;
	margin-left: 299px;
}

.location_Maps_text_h3{
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 31px;
    color: #ffa7a7;
    font-size: 20px;
}

.location_Maps_directions_h3{
    margin-top: 23px;
    margin-left: 299px;
    color: #ffa7a7;
    font-size: 20px;
}



#map {
	width: 480px;
	height: 350px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}



