@charset "UTF-8";

.location{

	margin-top: -10px;
}

.location_top{
	width: 100%;
 	margin: 0 auto;
	padding-bottom: 80px;
}

.location_inner{
	width: 1000px;
	margin: 0 auto;
	font-size: 13px;
}



.location_titleinner{
	font-size: 2.5em;
    color: #ffa7a7;
    font-weight: bold;
    padding: 25px 0 27px 23px;
}

.location_Maps_box{
	border: 0px solid red;
    margin-top: 16px;
    clear: both;
}

.location_Maps{
    border: 1px solid #ddd;
    height: 241px;
    margin-left: -16px;
}

.location_Maps_text {
    border: 1px solid #ddd;
    margin-top: 18px;
    margin-left: -16px;
    overflow: hidden;
}

.location_Maps_text p{
	text-align: justify;
    font-size: 15px;
    margin-left: 20px;
}

.location_Maps_directions{
    border: 1px solid #d5d5d5;
    margin-top: 41px;
    margin-left: -16px;
}

.location_Maps_directions p:nth-child(1){
	text-align: center;
	margin-top: 10px;	
}

.location_Maps_directions_p{
    margin-left: 25px;
    line-height: 2;
}

.location_Maps_text_h3{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 31px;
    color: #ffa7a7;
    font-size: 20px;
}
.location_information{
    margin-left: 22px;
    line-height: 2;
    margin-top: -19px;
    margin-bottom: 15px;
}

.location_Maps_directions_h3{
    margin-top: 17px;
    margin-left: 25px;
    color: #ffa7a7;
    font-size: 20px;
}



#map {
	width: 1010px;
	height: 241px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.tabs_top{
    background: #ffa7a7;
    height: 43px;
    border-radius: 10px;
    margin-left: -15px;
}


.btn{
    width: 92px;
    height: 36px;
    margin: 3px;
    background: none;
    cursor: pointer;
	}
