<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookjuk.admin.dao.mapper.AdminLocationMapper">
	<select id="getBookCount" resultType="int">
		select count(*) from book
	</select>
	
	<select id="getBookList" parameterType="java.util.HashMap" resultType="com.bookjuk.admin.dto.AdminBookDto">
		<![CDATA[
			SELECT * FROM (SELECT ROWNUM rnum, A.* FROM 
			(SELECT * FROM book ORDER BY book_date desc) A)b 
			where b.rnum >= #{start} and b.rnum <= #{end}
		]]>
	</select>

	<select id="book_keyword" parameterType="String" resultType="com.bookjuk.admin.dto.AdminBookDto">
		<![CDATA[
			select * FROM book WHERE book_name like '%'||#{keyword}||'%' or book_publisher like '%'||#{keyword}||'%'			  
		]]>
	</select>
	<select id="bookSearch" parameterType="java.util.Map" resultType="com.bookjuk.admin.dto.AdminBookDto">
		select * FROM book b, CATEGORY c WHERE c.book_num=b.book_num and b.book_num=#{book_num}
	</select>
	
	<select id="book_List" resultType="com.bookjuk.admin.dto.AdminBookDto">
		SELECT b.book_num, book_name, book_author, book_publisher, book_date, category_main_kor, category_sub_kor FROM book b, category c where c.book_num=b.book_num
	</select>
	
	<select id="book_MainCate_List" resultType="com.bookjuk.admin.dto.AdminBookDto">
		SELECT distinct category_main_kor,category_main_eng category_main_eng FROM CATEGORY
	</select>
	
	<select id="book_SubCate_List" resultType="com.bookjuk.admin.dto.AdminBookDto">
		SELECT distinct category_sub_kor, category_sub_eng FROM CATEGORY where category_main_eng=#{category_main_eng}
	</select>
	
	<select id="book_UpSearch" parameterType="long" resultType="com.bookjuk.admin.dto.AdminBookDto">
		select * FROM book b, CATEGORY c WHERE c.book_num=b.book_num and b.book_num=#{book_num}
	</select>
	
	<select id="change_engkor" parameterType="java.util.Map" resultType="com.bookjuk.admin.dto.AdminBookDto">
		select distinct category_main_kor, category_sub_kor from category where category_main_eng=#{category_main_eng} and category_sub_eng=#{category_sub_eng}			
	</select>
	
	<update id="book_Update" parameterType="com.bookjuk.admin.dto.AdminBookDto">
		<![CDATA[
		update book set book_num=#{book_num}, book_name=#{book_name}, book_author=#{book_author}, book_publisher=#{book_publisher}, book_date=#{book_date}, 
		book_score=#{book_score}, book_editor=#{book_editor}, book_contents=#{book_contents}, book_intro=#{book_intro}, book_author_info=#{book_author_info}, 
		book_publisher_review=#{book_publisher_review}, category_main_kor=#{category_main_kor}, category_sub_kor=#{category_sub_kor}, category_main_eng=#{category_main_eng}, category_sub_eng=#{category_sub_eng} where book_num=#{book_num}
		]]>
	</update>
	
</mapper>