<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookjuk.book.dao.mapper.BookMapper">

	<select id="newList" resultType="com.bookjuk.book.dto.BookDto">
		<![CDATA[
		SELECT j.book_num, j.book_img, j.book_name, j.book_author, j.book_publisher, j.book_date, j.book_intro, j.product_price FROM (SELECT i.*, ROWNUM rnum FROM(SELECT b.book_num, b.book_img, b.book_name, b.book_author, b.book_publisher, b.book_date, b.book_intro, p.product_price FROM book b, CATEGORY c, product p WHERE c.book_num = b.book_num AND b.book_num = p.book_num ORDER BY book_date DESC)i)j WHERE j.rnum >= 1 AND j.rnum <= 20
		]]>
	</select>

	<select id="detail" parameterType="int" resultType="com.bookjuk.book.dto.BookDto">
		SELECT a.* FROM (SELECT b.book_num, book_img, book_name, book_author, book_publisher, book_date, book_score, book_editor, book_contents, book_intro, book_author_info, book_publisher_review, category_main, category_sub, product_amount, product_price, product_dicount, product_point, product_sales, product_count, product_delivery FROM book b, CATEGORY c, product p WHERE c.book_num = b.book_num AND b.book_num = p.book_num)a WHERE a.book_num = #{book_num}
	</select>
</mapper>