@charset "UTF-8";

*{list-style-type: none; text-decoration: none; margin:0px; padding:0px;}

body{
	font-family: "fontello";
}

.rating{
	border: 1px solid;
	height: 124px;
	width: 720px;
}

.rating li{
	float:left;
	cursor: default;
	display: inline-block;
	height: 124px;
	width: 144px;
}

/* 빈 별과, 찬 별이 아닌것을 hover했을 때, selected된 것 */
.star, .rating:not(.change_star):hover .star:hover ~ .star, .rating.change_star .star.selected ~ .star{
	background-image: url("../../img/star_off.png");
}

.rating:hover .star, .rating.change_star .star{
  background-image: url("../../img/star_on.png");
  height: 124px;
  width: 144px;
}