@charset "UTF-8";

.bookDetail_drag_star{
	list-style-type: none; text-decoration: none; margin:0px; padding:0px;
	font-family: "fontello";
}

.bookDetail_reviewAll_top{
	border: 0px solid black;
	height: 34px;
	width: 196px;
	overflow: hidden;
}

.bookDetail_reviewAll_top li{
	float:left;
	cursor: default;
	display: inline-block;
	height: 40px;
	width: 39px;
}

/* 빈 별과, 찬 별이 아닌것을 hover했을 때, selected된 것 */
.star, .bookDetail_reviewAll_top:not(.change_star):hover .star:hover ~ .star, .bookDetail_reviewAll_top.change_star .star.selected ~ .star{
	background-image: url("../../img/book/star_off.png");
}

.bookDetail_reviewAll_top:hover .star, .bookDetail_reviewAll_top.change_star .star{
  background-image: url("../../img/book/star_on.png");
  height: 40px;
  width: 39px;
}