@charset "UTF-8";

.form-group {
    margin: 10px;
}

.wrap{
	overflow:hidden;
    height:auto;
}

.col-lg-margin-left{
	width:100%;
	margin-top:20px;
}

.content{
	margin-left:0px;
}

.content_title{
	margin:60px 0px 0px 50px;
}

.content_wrap_body_right{
	width:900px;
	margin:-1px 50px 30px 50px;
	overflow:hidden;
    height:auto;
}

.content_title_signature{
	margin-top: 60px;
	font-size: 32px;
}

.sub_title{
	position:absolute;
	margin: 30px -68px;
	background: white;
}

.sub_title>div{
	margin-top:-1px;

	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	width:120px;
	height:44px;
	line-height:44px;
	text-align: center;
}
.sub_title a{
	color:#007bff;
}

/* 사이드메뉴 컬러 */
.sub_title>div:nth-child(3){
	background: white;
	border-right:0px;
}

.sub_title>div:nth-child(1), .sub_title>div:nth-child(2){
	background: #D5D5D5;
	border-right:1px solid #CCCCCC;
}

.sub_title>div:last-child {
	border-bottom: 1px solid #CCCCCC;
}

.content_form{
	border:1px solid;
	margin: 0px auto;
	width: 700px;
	overflow:hidden;
    height:auto;
}

.col-lg-offset-2>button{
	float:left;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.notice_content{
	border:0px solid;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.notice_content>ul{
	margin-bottom:0px;
}

.notice_content li{
	float:left;
}


.form_style{
	border: 0px solid;
	height: 100%;
}

/**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**/

.notice_title{
	width:152px;
	border:1px solid;
	border-top:0px;
	border-left: 0px;
}

.notice_title_value{
	border: 1px solid;
	margin: -1px 0px 0px -1px;
	border-right: 0px;
	width: 547px;
	text-align: left;
}

.notice_title_value>input{
	border:1px solid;
	width: 541px;
	height: 37px;
}

.notice_writer_value{
	width:150px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.notice_date{
	width:244px;
	border-bottom:1px solid;
}

.notice_content_title{
	width:151px;
	height: 369px;
}

.notice_content_value{
	width:542px;
	height:100%;
	margin:0px;
	border-left:1px solid;
	text-align: left;
}

.notice_content_value>textarea{
	width:543px;
	height:364px;
}











/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.contact_content{
	border:0px solid;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.contact_content>ul{
	margin-bottom:0px;
}

.contact_content li{
	float:left;
}


.form_style{
	border: 1px solid;
	height: 452px;
	
}

/**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**/

.contact_title{
	width:152px;
	border-bottom: 1px solid;
	border-right:1px solid;
	
}

.contact_content_title{
	width:151px;
}

.contact_content_value{
	width:542px;
	height:100%;
	margin:0px;
	border-left:1px solid;
	text-align: left;
}

.contact_content_value>textarea{
	width:543px;
	height:364px;
}



/*  */
/*  */
/*  */
/*  */
.notice_title{
	width:152px;
	border:1px solid;
	border-top:0px;
	border-left: 0px;
}

.notice_title_value{
	border: 1px solid;
	margin: -1px 0px 0px -1px;
	border-right: 0px;
	width: 547px;
	text-align: left;
}

.notice_title_value>input{
    border: 0px solid;
    width: 541px;
    line-height: 20px;
}

.notice_writer_value{
	width:150px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.notice_date{
	width:244px;
	border-bottom:1px solid;
}

.notice_content_title{
	width:151px;
	height: 369px;
}

.notice_content_value{
	width:542px;
	height:100%;
	margin:0px;
	border-left:1px solid;
	text-align: left;
}

.notice_content_value>textarea{
	width:543px;
	height:364px;
}

