<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookjuk.order.dao.mapper.OrderMapper">
	<!-- 장바구니 -->
	<select id="memCartCount" parameterType="String" resultType="int">
		SELECT nvl(count(*),0) FROM cart WHERE member_id = #{member_id}
	</select>
	
	<select id="nonCartCount" parameterType="String" resultType="int">
		SELECT nvl(count(*),0) FROM cart WHERE nonmember_id = #{nonmember_id}
	</select>
	
	<select id="memCartList" parameterType="String" resultType="com.bookjuk.order.dto.OrderDto">
		SELECT b.book_num, b.book_img, b.book_name, c.member_id, c.nonmember_id,  c.cart_amount, p.product_disprice, p.product_point, p.product_delivery, c.cart_date FROM book b, product p, cart c WHERE b.book_num = c.book_num and b.book_num = p.book_num and member_id = #{member_id} ORDER BY cart_date DESC
	</select>
	
	<select id="nonCartList" parameterType="String" resultType="com.bookjuk.order.dto.OrderDto">
		SELECT b.book_num, b.book_img, b.book_name, c.member_id, c.nonmember_id, c.cart_amount, p.product_disprice, p.product_point, p.product_delivery, c.cart_date FROM book b, product p, cart c WHERE b.book_num = c.book_num and b.book_num = p.book_num and nonmember_id = #{nonmember_id} ORDER BY cart_date DESC
	</select>
	
	<!-- 장바구니 수량 조절 -->
	<update id="updateAmount" parameterType="com.bookjuk.order.dto.OrderDto">
		UPDATE cart SET cart_amount = #{cart_amount} WHERE member_id = #{member_id} and book_num = #{book_num}
	</update>
	
	<update id="updateNonAmount" parameterType="com.bookjuk.order.dto.OrderDto">
		UPDATE cart SET cart_amount = #{cart_amount} WHERE nonmember_id = #{nonmember_id} and book_num = #{book_num}
	</update>
	
	<delete id="memDeleteCart" parameterType="java.util.Map">
		DELETE FROM cart WHERE member_id = #{member_id} AND book_num = #{book_num}
	</delete>
	
	<delete id="nonDeleteCart" parameterType="java.util.Map">
		DELETE FROM cart WHERE nonmember_id = #{nonmember_id} AND book_num = #{book_num}
	</delete>
	
	<!-- 주문 -->
	<select id="orderMember" parameterType="String" resultType="com.bookjuk.order.dto.OrderDto">
		SELECT * FROM member WHERE member_id = #{member_id}
	</select>
</mapper>