<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookjuk.book.dao.mapper.ServiceMapper">

	<!-- 1:1문의 쓰기-->
	<insert id="boardInsert" parameterType="com.bookjuk.service.dto.ServiceContactDto">
		insert into
		service_contact(contact_num,contact_subject,contact_content,member_id,contact_date,contact_type,contact_answer_whether,contact_group_num,contact_sequence_num,contact_sequence_level)
		values(contact_num_seq.nextval,#{contact_subject},#{contact_content},#{member_id},#{contact_date},#{contact_type},#{contact_answer_whether},#{contact_group_num},#{contact_sequence_num},#{contact_sequence_level})
	</insert>

	<insert id="fileBoardInsert" parameterType="com.bookjuk.service.dto.ServiceContactDto">
		insert into
		service_contact(contact_num,contact_subject,contact_content,contact_date,member_id,contact_type,contact_answer_whether,contact_group_num,contact_sequence_num,contact_sequence_level,contact_file_name,contact_file_path,contact_file_size)
		values(contact_num_seq.nextval,#{contact_subject},#{contact_content},#{contact_date},#{member_id},#{contact_type},#{contact_answer_whether},#{contact_group_num},#{contact_sequence_num},#{contact_sequence_level},#{contact_file_name},#{contact_file_path},#{contact_file_size})
	</insert>
	
	<!-- 1:1문의 리스트 -->
	<select id="getBoardCount" resultType="int" >
  		<![CDATA[SELECT count(*) FROM service_contact WHERE member_id=#{member_id}]]>
  	</select>
	
	<select id="ServiceContactList" parameterType="java.util.Map" resultType="com.bookjuk.service.dto.ServiceContactDto">
  		<![CDATA[SELECT * FROM(
  					SELECT ROWNUM rnum,A.* FROM(
  						SELECT * FROM service_contact WHERE member_id=#{member_id} ORDER BY contact_num DESC) A)
  						WHERE rnum>=#{startRow} AND rnum<= #{endRow} 
              
  		]]>
  </select> 
  
  <!-- 1:1문의 읽기-->
  <select id="boardRead" resultType="com.bookjuk.service.dto.ServiceContactDto">
  	<![CDATA[select * from service_contact where contact_num=#{contact_num}]]>
  </select>
  
  <!-- 1:1문의 삭제 -->
   <delete id="contactDelete" parameterType="Long">
  		delete from service_contact where contact_num=#{contact_num}
  </delete>
  
  <!-- 1:1문의 수정 -->
   <update id="fileBoardUpdateOk" parameterType="com.bookjuk.service.dto.ServiceContactDto">
  	<![CDATA[update service_contact set contact_subject=#{contact_subject},contact_type=#{contact_type},contact_content=#{contact_content},contact_file_name=#{contact_file_name},contact_file_path=#{contact_file_path},contact_file_size=#{contact_file_size} where contact_num=#{contact_num}]]>
  </update>
  
  <update id="boardUpdateOk" parameterType="com.bookjuk.service.dto.ServiceContactDto">
  	<![CDATA[update service_contact set contact_subject=#{contact_subject},contact_type=#{contact_type},contact_content=#{contact_content} where contact_num=#{contact_num}]]>
  </update>
  
  <!-- 공지사항 리스트-->
  <select id="noticeCount" resultType="int">
  	<![CDATA[select nvl(count(*),0) from service_notice]]>
	</select>

	<select id="noticeList" parameterType="java.util.Map" resultType="com.bookjuk.service.dto.ServiceNoticeDto">
  		<![CDATA[select * from(
  					SELECT ROWNUM rnum,A.* FROM(
  						SELECT * FROM service_notice ORDER BY notice_date DESC) A)
  						WHERE rnum>=#{startRow} AND rnum<= #{endRow}]]>
	</select> 
	
	
	
	<!-- 공지사항 읽기 -->
	<select id="noticeRead" resultType="com.bookjuk.service.dto.ServiceNoticeDto">
  		<![CDATA[select * from service_notice where notice_num=#{notice_num}]]>
 	</select>
 	

 	<!-- 자주묻는질문 -->
	<select id="questionCount" resultType="int">
  	<![CDATA[select count(*) from service_question]]>
	</select>
	
	<select id="questionList" resultType="com.bookjuk.service.dto.ServiceQuestionDto">
  		<![CDATA[select * from(
  					SELECT ROWNUM rnum,A.* FROM(
  						SELECT * FROM service_question ORDER BY question_num DESC) A)
  						WHERE rnum>=1 and rnum<=10
]]>
 	</select>
 	
	
  
</mapper>