@charset "UTF-8";

#complete_all {
	padding-bottom: 80px;
}

#complete_container {
	width: 100%;
	margin: 0 auto;
	border: 0px solid red;
	overflow: hidden;
}

#complete_content {
	width: 1000px;
	margin: 0 auto;
}

.complete_sub {
	margin-top: 25px;
	background: white;
	padding: 0 29px;
	border: 1px solid #e5e6e7;
}

.complete_heading {
	margin: 25px 0;
}

.complete_process {
	float: right;
	list-style: none;
	margin: 0px;
	background: white;
}

.complete_process li {
	float: left;
	padding-left: 7px;
}

.complete_process li>span {
	margin: 0px;
	float: left;
	padding: 10px 7px 0 7px;
}

.complete_process li>.complete_process_3 {
	color: #FFA7A7;
}

.complete_process li>h3 {
	margin: 0px;
	float: left;
	font-size: 2.5em;
	font-weight: bold;
	color: #666;
}

.complete_basket {
	float: left;
	padding-left: 23px;
	margin: 0px;
	font-size: 2.5em;
	font-weight: bold;
	color: #FFA7A7;
}

.complete_heading:after {
	display: block;
	clear: both;
	content: '';
}

.order_result_info {
	padding-top: 1px;
	padding-bottom: 30px;
	text-align: center;
	letter-spacing: -0.025em;
	border-bottom: 1px solid #dedede;
}

.result_title {
	margin-top: 35px;
	font-size: 30px;
	line-height: 40px;
}

.oredr_info {
	text-align: center;
	display: inline-block;
	padding: 5px 15px;
	background: #f8f8f8;
	margin-top: 5px;
}

.order_col {
	color: #aeaeae;
	font-size: 11px;
	padding: 0px 6px;
	font-weight: normal;
}

#btn_blue {
	width: 128px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-top: -2px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	color: #333;
	margin-left: 5px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #FFD8D8;
	background: #FFD8D8;
	box-shadow: 0 2px #FFD8D8;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	top: 4px;
}

.order_result_info .sub_text {
	margin-top: 10px;
}

.complete_info {
	position: relative;
	padding: 0px;
	overflow: hidden;
}

.complete_info_wrap {
	float: left;
	padding: 0 0 15px 30px;
	width: 614px;
	border-bottom: 1px solid #e9e9e9;
}

#name {
	background: white;
	margin-left: 20px;
}

#phone {
	margin-left: 89px;
	margin-top: 10px;
	display: inline-block;
}

#address {
	margin-left: 89px;
	margin-top: 10px;
	display: inline-block;
}

.order_num {
	margin-top: 20px;
}

.order_adress_info {
	display: inline-block;
	width: 570px;
	margin-top: 20px;
}

.order_payment_info {
	display: inline-block;
	margin-top: 20px;
}

.order_num > span {
	padding-left: 37px;
	color: rgb(241, 95, 95);
	font-weight: bold;
}

#card {
	background: white;
	margin-left: 31px;
	display: inline-block;
}

#card_num {
	margin-left: 87px;
	margin-top: 10px;
	display: inline-block;
}

#month {
	margin-left: 87px;
	margin-top: 10px;
	display: inline-block;
}

#price {
	margin-left: 87px;
	margin-top: 10px;
	display: inline-block;
}

.complete_price {
	display: inline-block;
	width: 296px;
	height: 250px;
	background: #f5f7f6;
	overflow: hidden;
}

.complete_price_sum {
	float: right;
	padding: 20px 35px 22px 30px;
	width: 230px;
}

.complete_price_sum>h4 {
	margin-bottom: 12px;
}

.total_price {
	display: block;
	float: right;
	padding-bottom: 5px;
}

.calc_list>li>h4 {
	line-height: 47px;
	color: rgb(241, 95, 95);
}

.total_price>span {
	font-size: 2.5em;
	color: rgb(241, 95, 95);
}

.total_price>h5 {
	margin-top: 20px;
	float: right;
	color: rgb(241, 95, 95);
}

.calc_list li {
	margin-top: 9px;
	overflow: hidden;
}

.calc_list strong {
	float: left;
	font-weight: normal;
}

.calc_list p {
	float: right;
}

.calc_list p em {
	vertical-align: bottom;
	font-style: normal;
}

.order_info_sub {
	display: inline-block;
	margin-bottom: 5px;
}

#account_price {
	margin-left: 87px;
	width: 500px;
	background: white;
	margin-top: 10px;
	margin-bottom: 26px;
}

.complete_btn {
	margin: 30px auto;
	text-align: center;
}

}
#btn_main {
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #b6b7b7;
	margin-right: 10px;
	overflow: hidden;
	height: 50px;
	width: 130px;
	box-sizing: border-box;
	text-align: center;
	background: #f5f7f6;
	box-shadow: 0 2px #f5f7f6;
	border-radius: 15px;
	line-height: 49px;
	cursor: pointer;
	color: #333;
}

#btn_main {
    font-size: 13px;
    display: inline-block;
    font-weight: normal;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #b6b7b7;
    margin-right: 10px;
    overflow: hidden;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    text-align: center;
    background: #f5f7f6;
    box-shadow: 0 2px #f5f7f6;
    border-radius: 15px;
    line-height: 49px;
    cursor: pointer;
    color: #333;
}

#btn_cart {
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #b6b7b7;
	margin-right: 10px;
	overflow: hidden;
	height: 50px;
	width: 130px;
	box-sizing: border-box;
	text-align: center;
	background: #f5f7f6;
	box-shadow: 0 2px #f5f7f6;
	border-radius: 15px;
	line-height: 49px;
	cursor: pointer;
	color: #333;
}

#btn_order_detail {
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #b6b7b7;
	margin-right: 10px;
	overflow: hidden;
	height: 50px;
	width: 130px;
	box-sizing: border-box;
	text-align: center;
	background: #f5f7f6;
	box-shadow: 0 2px #f5f7f6;
	border-radius: 15px;
	line-height: 49px;
	cursor: pointer;
	color: #333;
}