@charset "UTF-8";

.order{
	margin-top: -10px;
}

.order_top{
	width: 100%;
 	margin: 0 auto;
	padding-bottom: 80px;

}

.order_inner{
	width: 1000px;
	margin: 0 auto;
	font-size: 13px;
}


.order_title2{
    font-size: 2.5em;
    color: #ffa7a7;
    font-weight: bold;
    padding: 25px 0 25px 23px;
} 

.order_title{
    border-bottom: 0px solid #e5e6e7;
}



.order_box{
    border: 1px solid #e5e6e7;
    height: 719px;
    background-color: white;
}

.order_month{
	border: 1px solid #e5e6e7;
    width: 300px;
    margin-left: 213px;
    margin-top: 36px;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 25px;
    
}

.order_month a{
    border-right: 1px solid #e5e6e7;
    font-size: 15px;
    padding-left: 24px;
}

.order_month a:nth-child(4){
	border-right: 0px;
}

.order_month a:hover{
	color:#ffa7a7;
}

.order_monthbox{
	border-bottom: 1px solid #e5e6e7;
    width: 810px;
    margin-left: 98px;
    padding-bottom: 39px;
}

 .order_subtitleboxinner{
	border: 1px solid #e5e6e7;
    width: 810px;
    height: 44px;
    margin-top: 15px;
} 

#checkbox{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
.order_subtitle p{
	float: left;
    margin-right: 23px;
    margin-left: 53px;
    margin-top: 15px;	
}

.order_subtitle span{
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.order_subtitlebox{
	border-bottom: 0px solid #e5e6e7;
    width: 810px;
    margin-left: 99px;
    padding-bottom: 19px;
}

.orber_listbox{
    height: 199px;
    margin-top: 32px;
    width: 811px;
    margin-left: 98px;
    border-bottom: 1px solid #e5e6e7;
    border-top: 1px solid #e5e6e7;
}

.orber_listbox2{
    height: 162px;
    margin-top: 34px;
    width: 811px;
    margin-left: 98px;
    border-bottom: 1px solid #e5e6e7;
    padding-bottom: 23px;
}

#checkbox2{
    margin-top: 77px;
}

.order_listimg li{
    margin-left: 247px;
    position: relative;
    width: 110px;
    height: 169px;
    margin-top: -78px;
}

.order_listimg img{
    /* width: 110px; */
    height: 170px;
    margin-top: -85px;

}

.order_list_text a{
	float: left;
    margin-right: 23px;
	margin-left: 179px;
    margin-top: 15px;
}

.order_list_text{
    margin-left: 92px;
    margin-top: -33px;
}

.order_list_text span{
	float: left;
    margin-top: 20px;
    margin-left: 51px;
}

.order_list_text2 p{
    margin-left: 57px;
    margin-right: 74px;
    float: left;
    margin-top: 15px;
}
.order_list_text2 span{
    margin-top: 15px;
    margin-right: 157px;
    float: right;
}

.order_list_text2 a{
    margin-top: -17px;
    float: right;
    margin-right: 29px;
}

.order_listimg2 li{
	margin-left: 247px;
    position: relative;
    width: 110px;
    height: 169px;
    margin-top: -109px;
}

#checkbox_All{
	float: left;
    margin-top: 15px;
}
.calendar{
	margin-left:197px;
	margin-top: 20px;
}
#calendar1{
	border: 1px solid #e5e6e7;
	height: 25px;

}

#calendar2{
	border: 1px solid #e5e6e7;
	height: 25px;
}

.calendar p{
	float: right;
    margin-right: 152px;
    margin-top: 6px;
}

.order_listimg2 img{
    /* width: 110px; */
    height: 170px;
    margin-top: -106px;
}


