@charset "UTF-8";

.Cancel_exchange_refund{
    padding-bottom: 80px;
}

.Cancel_exchange_refund_top{
	width: 100%;
 	margin: 0 auto;
	padding-bottom: 210px;

}

.Cancel_exchange_refund_inner{
	width: 1000px;
	margin: 0 auto;
	font-size: 13px;
}


.Cancel_exchange_refund_title2{
    font-size: 2.5em;
    color: #ffa7a7;
    font-weight: bold;
    padding: 25px 0 25px 23px;
} 

.Cancel_exchange_refund_box{
    border: 1px solid #e5e6e7;
    height: 719px;
    background-color: white;
}

.Cancel_exchange_refund_month{
	border: 1px solid #e5e6e7;
    width: 300px;
    margin-left: 213px;
    margin-top: 36px;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 25px;
    
}

.Cancel_exchange_refund_month a{
    border-right: 1px solid #e5e6e7;
    font-size: 15px;
    padding-left: 24px;
}

.Cancel_exchange_refund_month a:nth-child(4){
	border-right: 0px;
}

.Cancel_exchange_refund_month a:hover{
	color:#6799FF;
}

.Cancel_exchange_refund_monthbox{
	border-bottom: 0px solid #e5e6e7;
    width: 810px;
    margin-left: 98px;
    padding-bottom: 39px;
}

.Cancel_exchange_refund_calendar{
	margin-left:197px;
	margin-top: 20px;
}
#Cancel_exchange_refund_calendar1{
    border: 1px solid #e5e6e7;
    height: 28px;

}

#Cancel_exchange_refund_calendar2{
    border: 1px solid #e5e6e7;
    height: 28px;
}

.Cancel_exchange_refund_calendar p{
	float: right;
    margin-right: 152px;
    margin-top: 6px;
}

.Cancel_exchange_refund_subtitlebox{
	border: 1px solid #e5e6e7;
	width: 810px;
	margin-left: 99px;
	padding-bottom: 19px;
	height: 25px;
}

.Cancel_exchange_refund_subtitle p{
	float: left;
    margin-right: 23px;
    margin-left: 53px;
    margin-top: 15px;	
}

.Cancel_exchange_refund_listbox{
    height: 199px;
    margin-top: 32px;
    width: 811px;
    margin-left: 98px;
    border-bottom: 1px solid #e5e6e7;
}

.Cancel_exchange_refund_listimg li{
    margin-left: 153px;
    position: relative;
    border: 1px solid #e5e6e7;
    width: 110px;
    height: 169px;
}

.Cancel_exchange_refund_listimg img{
    width: 110px;
    height: 170px;

}


.Cancel_exchange_refund_list_text span{
    float: left;
    margin-top: 67px;
    margin-left: 51px;
}

.bookname{
	float: left;
    margin-right: 23px;
    margin-left: 179px;
    margin-top: 58px;
}

.Cancel_exchange_refund_listbox2{
	height: 199px;
    margin-top: 32px;
    width: 811px;
    margin-left: 98px;
    border-bottom: 0px solid #e5e6e7;
}

.Cancel_exchange_refund_list_text2 p{
	margin-left: 57px;
    margin-right: 74px;
    float: left;
    margin-top: 60px;
}
.Cancel_exchange_refund_list_text2 span{
	margin-top: 64px;
    margin-right: 259px;
    float: right;
}

.Cancel_exchange_refund_list_text2 a{
    margin-top: 65px;
    float: right;
    margin-right: -179px;
}



.Cancel_exchange_refund_Precautions{
	margin-top: 59px;
    margin-left: -17px;
}

.Cancel_exchange_refund_Precautions_text{
    border: 1px solid black;
    width: 680px;
    height: 85px;
    margin-left: 10px;
}

.Cancel_exchange_refund_Precautions div{
    margin-left: 16px;
    margin-top: 15px;
    font-size: 13px;
}

.Cancel_exchange_refund_contact input{
    width: 126px;
    height: 62px;
    border-radius: 17px;
    border: 1px solid #ffd8d8;
    background-color: #ffd8d8;
    float: right;
    margin-top: -77px;
    margin-right: 98px;
}

.Cancel_exchange_refund_Precautions_text p{
	margin-top: 12px;
    margin-left: 6px;
    text-align: justify;
}